@charset "utf-8";
/* CSS Document */

.table {font-size:1em;}
.tablcentr, .tablvyvod, .tablrol, .tablpictur, .tablexternal, .tablredirect{ text-align:center;}
.tablpictur div, .tablredirect div{ margin:0 10px; cursor:pointer;}
.tablvyvod, .tablexternal, .tabllength, .tablredirect {width:30px;}
.tablsort, .sorty{width: 30px;}
.tablrol {width:120px;}
/*td.action, td.buttons { max-width:20em;}*/
.btn{ padding:6px 6px; min-width:25px;}
.editbutt{ font-size:0.9em; padding:6px 5px; min-width:55px;}
.dropdown-toggle.editbutt { min-height:32px; min-width:26px;}
.dropdown-menu { font-size:0.9em; }
.namtbl { background-color:#BBB; margin:5px;}
/*.editbutt{ font-size:0.9em; min-height:2em;}
.dropdown-toggle.editbutt { font-size:1em; min-height:2.1em;}*/
td input{ width:100%; min-height:30px;}
.checkbox {text-align:center;}
.checkbox input { margin-top:-3px;}
td .selectcenter select{text-align:center; height:30px;}

.pict-down-ikon i { margin:0 10px; cursor:pointer;}

.divtblpict { max-width:600px;overflow-x: scroll; margin-bottom:15px;}

#tblphoto img { min-width:170px; }

.checkbox, .radio {margin:0px;}
.glyphicon-arrow-up, .glyphicon-arrow-down, .photo{cursor:pointer; }
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th 
{ padding:3px ;}

.breadcrumb { margin:10px 0;}
.small_font{ font-size:smaller; margin-top: 12px;}
.userclass{ margin-bottom:8px;}
.mylo { text-align:center;}

#tblpos, .dropdown-menu { font-size:0.9em;}

/*-------------------------------------------------------*/
.Myconfirm { background-color:#FFF;  border: 1px solid #0b2fe0; 
-webkit-border-radius: 9px;    -moz-border-radius: 9px;    border-radius: 9px; 
 vertical-align: middle;    min-width:500px; max-width: 600px;
 padding:10px; left:35%; top: 15%; position:fixed; z-index:90; text-align:center;;
 }	/*color:#0b2fe0;*/
/*.Myconfirm input {width:100%;}*/
.Myconfirm select { border: 1px solid #999; width:100%; margin-top:5px;}
.Myconfirm select option{ margin:3px 0;}
.Myconfirm input.editpole {width:25%;margin-top:5px;}
.Myconfirm button {min-width:90px;}
.errorcursiv { font-style:italic; font-weight:normal; color:#C60;}
.zagform { margin:0 0 10px; }
.makepreview img{max-width: 80%; max-height: 350px;	}
.makepreview{margin-bottom: 10px; float: left;display:block}
.povorot{float: right; width:80px;}
.povorot div{text-align: left;}
#rotatepict{min-width: 80%; margin-top: 10px;}
/*.leftrotate {transform: rotate(-90deg);}
.rightrotate {transform: rotate(90deg);}*/


#overlay {
	z-index:89; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	position:fixed; /* всегдa перекрывaет весь сaйт */
	background-color:#000; /* чернaя */
	opacity:0.8; /* нo немнoгo прoзрaчнa */
	-moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
	filter:alpha(opacity=80);
	width:100%; 
	height:100%; /* рaзмерoм вo весь экрaн */
	top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
	left:0;
	cursor:pointer;
	display:none; /* в oбычнoм сoстoянии её нет) */
}
.selectwindow {height: 300px; overflow-y: auto;}
.inputbl{overflow-y: auto; max-height: 120px;}
.inputbl input{margin: 5px 10px; }
.table.tblposition .tbldir{ text-align: left; color: #4626b4;  }
.tbldir span{cursor: pointer;}
.tbldir span:hover{text-decoration: underline; }
.table.tblposition .tblfile{ text-align: left; color: #444444; max-width: 10em; white-space: nowrap; overflow-x: hidden;  }
.tblcolorstr {background-color: #95c687 !important;}
.allcenter{text-align: center;}
.buttonselect, div.buttonselect{width:19px;height:19px; background-image: url(../img/minus.png); background-size: cover; margin: 0 0 0 30%;cursor: pointer;}
.buttonselect.select{background-image: url(../img/ok.png);}
.tbltitle span{margin: 0 10px; cursor: pointer;color: #4626b4;}
.previewtbl{font-size: 10px; margin-top: 42px; width: 100%; }
.previewtbl td{border:solid 1px #c4c4c4;  }
.previewtbl .button{background-color: #d78787; width: 20px;  }
.previewtbl .button div{cursor: pointer;margin: 2px 0;}

.editpolesong{background:#eee; border: 1px solid #999; width:30%; margin-right:5px; padding-left:3px;}
.editpolesong{width:100%;}
/*-------------------------------------------------------*/
.delpictconfirm { margin-bottom:7px;}
.delconfirm .confirm { width:100%; margin-bottom:15px;}

.textareablock { width:940px; margin:0;}
.cke_top.cke_reset_all {border: 1px solid #d1d1d1;}
#cke_textID {border:none;}
.cke_contents.cke_reset {width:540px;border: 1px solid #d1d1d1; margin:0 auto;}
.cke_dialog_ui_hbox_first, .cke_dialog_ui_hbox_child{ vertical-align: middle !important; padding-top: 3px !important;}
.cke_dialog_ui_hbox_last{vertical-align: middle !important; text-align: end !important;  }

.primerclass {width:540px;margin:0 auto; height:640px;background-color: rgba(216, 194, 190, 1);font-family: "Rubik", "Ubuntu", sans-serif; word-spacing: 0.16em; letter-spacing:0.03em;
	font-weight: 400; font-size: 16px; line-height: 1.5em;
	 top: 47px;     position:relative; }
.primerclass .article_less{font-size: 93%;line-height: 1.4em;}

.buttprev {margin:0 auto;width:540px; border-top:1px solid #999;}
.prev_page, .next_page{position:relative; cursor:pointer; padding:5px 7px;}
.prev_page {   float:left;}
.next_page {  float:right;}
.nompage {float:right; font-size:0.9em;}
.seones {width:900px; min-height:100px;}

#mybar{display: block;min-height: 200px;overflow-y: scroll; overflow-x: hidden; max-height: 300px;}
#mybar .tblselectpunkt{width:95%;}
#mybar .tblselectpunkt tr{height: 2.1em;}
#mybar .dirpunkt{cursor: pointer;}
#mybar .dirpunkt:hover{text-decoration: underline;}
#mybar .filepunkt{max-width: 300px; overflow: hidden}
#mybar .buttonselectsong, #mybar .buttonselectdir{width:19px;height:19px; background-image: url(../img/plus.png); background-size: cover; margin: 0 0 0 30%;cursor: pointer;}

.selectplay{display: inline-flex; border: solid 1px ; border-color: rgba(214, 219, 219, 0.3); background-color: #c6a4a4;   color: #FCFFFE;width: 100%;}
.selectplay .songplay{width:20px; margin-right: 5px; display: block; background: no-repeat center;background-image: url(../../img_n/play.svg);cursor: pointer;}
.selectplay .songtitle{ display: block;width: 100%;	text-align: center;}
.selectplay .songadd{ display: block;width:20px;margin-left: 5px;background: no-repeat center;background-image: url(../../img_n/add.svg);cursor: pointer;}

.selectplaylist{display: flex; justify-content: flex-end; width: 100%;}
.selectplaylistchild{width:48px;height: 48px;background: no-repeat center; background-image: url(../../img_n/playlist.svg);cursor: pointer; margin: 0 15px 5px 0; }


div.cke_dialog_ui_input_select{display: block; width: 200px;}
.ckeditorselclass input{min-height: 10px;}
