
RewriteEngine on

        # Don't rewrite files or directories
        RewriteCond %{REQUEST_FILENAME} -f [OR]
        RewriteCond %{REQUEST_FILENAME} -d
        RewriteRule ^ - [L]

        # Rewrite everything else to index.html to allow html5 state links
        RewriteRule ^ index.php [L]




#Options +FollowSymLinks
#RewriteEngine On


#ErrorDocument 404 /temp.php
#Redirect 301 * http://galery.ru/temp.php
AddDefaultCharset utf-8
AddType 'text/html; charset=utf-8' .html .htm .shtml