.switch {
  margin: 3px 3px;
  position: relative;
  float:left;
  padding: 5px;
}

.switch label {
  width: 50%;
  height: 50%;
  position: relative;
  display: block;
}

.switch input {
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  opacity: 0;
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* DEMO 1 */

.switch.demo1 {
  width: 90px;
  height: 90px;
  z-index: 12;
}

.switch.demo1 label {
  border-radius: 50%;
  background: #eaeaea;
  box-shadow: 
      0 3px 5px rgba(0,0,0,0.25),
      inset 0 1px 0 rgba(255,255,255,0.3),
      inset 0 -5px 5px rgba(100,100,100,0.1),
      inset 0 5px 5px rgba(255,255,255,0.3);
}

.switch.demo1 label:after {
  content: "";
  position: absolute;
  top: -10%; right: -10%; bottom: -10%; left: -10%;
  z-index: -1;
  border-radius: inherit;
  background: #ddd;
  /*background: -moz-linear-gradient(#ccc, #fff);
  background: -ms-linear-gradient(#ccc, #fff);
  background: -o-linear-gradient(#ccc, #fff);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ccc), to(#fff));
  background: -webkit-linear-gradient(#ccc, #fff);*/
  background: linear-gradient(#aaa, #fff);
  box-shadow: 
    inset 0 2px 1px rgba(0,0,0,0.15),
    0 2px 5px rgba(200,200,200,0.1);
  
 /* background: linear-gradient(to bottom, rgba(170,170,170,0.35) 0%,rgba(255,255,255,0.44) 50%,rgba(255,255,255,0.53) 100%);*/
    border-radius: 50%;
    padding: 8px;

    box-shadow: inset 0 1px 0px rgba(0,0,0,0.05),
 0 1px 0 rgba(255,255,255,0.6),
 0 -1px 0 rgba(255,255,255,0.4),
 inset 0 2px 19px rgba(0,0,0,0.05),
 0 2px 1px rgba(0,0,0,0.06);
  
}

.switch.demo1 label:before {
  content: "";
  position: absolute;
  width: 20%;
  height: 20%;
  border-radius: inherit;
  left: 40%;
  top: 40%;
  background: #969696;
  background: radial-gradient(40% 35%, #ccc, #969696 60%);
  box-shadow:
      inset 0 2px 4px 1px rgba(0,0,0,0.3),
      0 1px 0 rgba(255,255,255,1),
      inset 0 1px 0 white;
}

.switch.demo1 input:checked ~ label {
  background: #dedede;
  background: -moz-linear-gradient(#dedede, #fdfdfd);
  background: -ms-linear-gradient(#dedede, #fdfdfd);
  background: -o-linear-gradient(#dedede, #fdfdfd);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#dedede), to(#fdfdfd));
  background: -webkit-linear-gradient(#dedede, #fdfdfd);
  background: linear-gradient(#dedede, #fdfdfd);
}

.switch.demo1 input:checked ~ label:before {
  background: #25d025;
  background: radial-gradient(40% 35%, #5aef5a, #25d025 60%);
  box-shadow:
      inset 0 3px 5px 1px rgba(0,0,0,0.1),
      0 1px 0 rgba(255,255,255,0.4),
      0 0 10px 2px rgba(0, 210, 0, 0.5);
}



.buttonmy { /*// no needed*/
  border: 1px solid rgba(64,51,24,0.4);
  background: #95684E;
  background: -webkit-gradient(linear, left top, left bottom, from(#95684E), to(#7a503d));
  background: -webkit-linear-gradient(top, #95684E, #7a503d);
  background: -moz-linear-gradient(top, #95684E, #7a503d);
  background: -ms-linear-gradient(top, #95684E, #7a503d);
  background: -o-linear-gradient(top, #95684E, #7a503d);
  background-image: -ms-linear-gradient(top, #95684E 0%, #7a503d 100%);
  padding: 9.5px 19px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
  -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
  box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
  color: #c6a4a4;
  font-size: 14px;
  font-family: helvetica, serif;
  text-decoration: none;
  vertical-align: middle;
}
.buttonmy:hover {
  border: 1px solid #403318;
  text-shadow: #1e4158 0 1px 0;
  background: #8a2f2f;
  background: -webkit-gradient(linear, left top, left bottom, from(#601a1a), to(#8a2f2f));
  background: -webkit-linear-gradient(top, #601a1a, #8a2f2f);
  background: -moz-linear-gradient(top, #601a1a, #8a2f2f);
  background: -ms-linear-gradient(top, #601a1a, #8a2f2f);
  background: -o-linear-gradient(top, #601a1a, #8a2f2f);
  background-image: -ms-linear-gradient(top, #601a1a 0%, #8a2f2f 100%);
  color: #c6a4a4;
}
.buttonmy:active {
  text-shadow: #1e4158 0 1px 0;
  border: 1px solid #403318;
  background: #361515;
  background: -webkit-gradient(linear, left top, left bottom, from(#601a1a), to(#8a2f2f));
  background: -webkit-linear-gradient(top, #601a1a, #361515);
  background: -moz-linear-gradient(top, #601a1a, #361515);
  background: -ms-linear-gradient(top, #601a1a, #361515);
  background: -o-linear-gradient(top, #601a1a, #361515);
  background-image: -ms-linear-gradient(top, #601a1a 0%, #361515 100%);
  color: #FAD7D6;
}

