@charset "utf-8";
/* CSS Document */
@import url('normalize.css');
/* grid */
.grid {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	width: 100%;
}

.grid li {
	position: relative;
	float: left;
	 font-size:2.3em;
	line-height: 1.5;
	max-height: 290px;
	text-align: center;
	/*width: 16.6666667%;*/
	/* Fallback */
	/*width: -webkit-calc(100% / 6);
	width: calc(100% / 6); */
}

/* Common styles for the letters */
.grid li span {
	display: inline-block;
	font-weight: 900;
	line-height: 1;
	position: relative;
	color: hsla(0, 0%, 0%, 0.6);
	-webkit-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 550px;
	-ms-perspective: 550px;
	perspective: 550px;
	z-index: 1;
}
.grid li span {color: rgba(0,0,0,0); transition:0.5s; }
.grid li span:hover {color: rgba(0,0,0,1); transition:1s;}

.grid li span:before,
.grid li span:after {
	position: absolute;
	content: attr(data-letter);
	line-height: inherit;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.grid li span:before {
	text-shadow: none;
	color: hsla(0, 0%, 0%, 0.12);
}


.ot-letter-bottom { background: none; }
.ot-letter-bottom span { text-shadow: none; }
.ot-letter-bottom span:hover { text-shadow: 1px 2px 3px  #aaa, 0 0 0 hsla(0, 0%, 0%, 0.3), 1px 2px 3px #aaa;cursor:pointer; }
.ot-letter-bottom span:after { color: #000; }
.ot-letter-bottom:hover span:after { color: #999 ; }

.ot-letter-right { background: none; }
.ot-letter-right span { text-shadow: none; }
.ot-letter-right span:hover { text-shadow: 1px 2px 3px  #aaa, 0 0 0 hsla(0, 0%, 0%, 0.3), 1px 2px 3px #aaa;  }
.ot-letter-right span:after { color: #000; }
.ot-letter-right:hover span:after { color: #999 ; }

/* Right */
.ot-letter-right span:before,
.ot-letter-right span:after {
	-webkit-transform-origin: 100% 50%;
	-ms-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
	
}
.ot-letter-right span{ display:none;}

.ot-letter-right span:before {
	-webkit-transform: scale(0.85,1) skew(0deg,1deg);
	-ms-transform: scale(0.85,1) skew(0deg,1deg);
	transform: scale(0.85,1) skew(0deg,1deg);
}

.ot-letter-right span:after {
	text-shadow: 1px 0px 0px hsla(360, 100%, 100%, 0.1), -1px 0px 1px hsla(0, 0%, 0%, 0.4);
	-webkit-transform: rotateY(15deg);
	-ms-transform: rotateY(15deg);
	transform: rotateY(15deg);
}

.ot-letter-right:hover span:before { /* тень вниз */
	-webkit-transform: scale(0.85,1) skew(0deg,-20deg);
	-ms-transform: scale(0.85,1) skew(0deg,-20deg);
	transform: scale(0.85,1) skew(0deg,-20deg);
}

.ot-letter-right:hover span:after {  /* движение */
	-webkit-transform: rotateY(40deg);
	-ms-transform: rotateY(40deg);
	transform: rotateY(80deg);
}

/* Down */
/* Down */
.ot-letter-bottom span:before,
.ot-letter-bottom span:after {
	-webkit-transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;
	transform-origin: 50% 0;
}
.ot-letter-bottom span{ display:none;}

.ot-letter-bottom span:before {
	-webkit-transform: scale(1,1.05) skew(4deg,0deg);
	-ms-transform: scale(1,1.05) skew(4deg,0deg);
	transform: scale(1,1.05) skew(4deg,0deg);
}

.ot-letter-bottom span:after {
	text-shadow: 0px -1px 0px hsla(360, 100%, 100%, 0.1), 0px 1px 1px hsla(0, 0%, 0%, 0.4);
	-webkit-transform: rotateX(15deg);
	-ms-transform: rotateX(15deg);
	transform: rotateX(15deg);
}

.ot-letter-bottom:hover span:before {
	-webkit-transform: translateY(-0.035em) scale(1,1.2) skew(10deg,0deg);
	-ms-transform: translateY(-0.035em) scale(1,1.2) skew(10deg,0deg);
	transform: translateY(-0.035em) scale(1,1.2) skew(10deg,0deg);
}

.ot-letter-bottom:hover span:after {
	-webkit-transform: translateY(0.045em) rotateX(40deg);
	-ms-transform: translateY(0.045em) rotateX(40deg);
	transform: translateY(0.045em) rotateX(70deg);
}
/* список с фоном меняющимся*/
.cb-slideshow,
.cb-slideshow:after { 
    position: absolute;
    width: 100%;
    height: 100%;
	min-height:890px;
    top: 0px;
    left: 0px;
    z-index: 0;
}	
.cb-slideshow { padding-top:0; margin-top:0; list-style-type:none;
	background: transparent url(../img/kultur.jpg) no-repeat top left; opacity:1;
	padding:0;
}
.cb-slideshow:after { 
    content: '';
    }
.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
	-webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 36s linear infinite 0s;
    -moz-animation: imageAnimation 36s linear infinite 0s;
    -o-animation: imageAnimation 36s linear infinite 0s;
    -ms-animation: imageAnimation 36s linear infinite 0s;
    animation: imageAnimation 36s linear infinite 0s; 
}
/*  bumaga mehu -------------------------------------------*/
.bumenu {display:none; position:absolute; top:40px; left:150px; z-index:9;}
.bumenu{opacity: 1; display: block;}
.bumimg {position: absolute; left:0; top:0; width:170px; transition:  1.5s;}
.bumimg div{ position:absolute; top:30%; margin-left:30px;; font-size:1.5em; color:#000;z-index:10;font-family: 'Comfortaa', Arial, Helvetica; text-transform: lowercase;}
.bumimg div a{z-index:10; color: #0f0f11; text-decoration: none;}
#men3 div { transform:rotate(45deg)  translate(25px,0px); }
#men5 div { transform:rotate(25deg)  translate(10px,0px); /*text-transform: capitalize;*/ }
#men6 div { transform:rotate(35deg)  translate(10px,0px); /*text-transform: capitalize;*/ }
#menlast div { margin-top:7px; margin-left:45px;}

.cursor{ cursor:pointer;}
.bumimg img{position: relative; z-index:10; width:100%;}
.bumcenter {position: absolute; display:block; width:50px; height:50px;  background-color:rgba(12,12,200,0.0); top:50px; left:50px;  z-index:11;}
.povor0{transform: translate(-140px,60px) rotate(-35deg); z-index:10;  transition:  1.5s; }
.povor1{transform: translate(-100px,-80px) rotate(-35deg); z-index:10;  transition:  1.5s; }
.povor2{transform: translate(120px,-50px) rotate(-15deg); z-index:10;  transition:  1.5s; }
.povor3{transform: translate(120px,90px) rotate(35deg); z-index:10;  transition:  1.5s; }
.povor4{transform: translate(0px,120px) rotate(-25deg); z-index:10;  transition:  1.5s; }
.povor0 div, .povor1 div, .povor2 div, .povor3 div, .povor4 div , .povor5 div{ cursor:pointer;}
.povor5{transform: translate(-120px,170px) rotate(-35deg); z-index:10;  transition:  1.5s; }
.povor6 {}


.povor555:hover{transform: translate(120px,-50px) rotate(-15deg); z-index:10;  transition:  1.5s; }

/* page -------------------------------*/
.mainpages{font-family: "Myriad Pro", "Trebuchet MS", sans-serif; word-spacing: 0.15em; letter-spacing:0.03em;}
.tablnews{text-align: left; vertical-align: top; margin-bottom: 5px; }
.tablnews .description {padding-left: 5px; color: #006; /*display: inline;*/}
.dalee a {text-decoration: none; color: #4a70cb; text-transform: uppercase; padding-left: 12px;}
.dalee a:hover {text-decoration: underline;}
.pagecurrent { border: #30F none 2px; text-align:center;  position:relative; margin:0 auto 0; width:90%; min-height:600px; z-index: 9; top:10px;  }
.blocknot { position:relative; /*z-index:10; */}
.blokpage { position:absolute; left:0px; top:0px; z-index:12;}
.txt_block {position:absolute; left:15px; top:50px; z-index:12; color:#006; width: 96%;}
.txt_block_head {text-align: center; font-size: 1.4em; font-weight: bold; color:#6e3414; z-index:12;position: relative;text-transform: uppercase;  }
.next_page { width:40px; height:40px; background-color:#0F0;  bottom:20px; right:60px;position:absolute; z-index:25;}
.prev_page { width:40px; height:40px; background-color:#0F0;  bottom:20px; left:60px;position:absolute; z-index:25;}
.mainpages { width: 542px; height:734px; position:absolute; z-index:9; top:38px; left:60px;}
/*background: url('../img/blocknot.png') top left no-repeat #DBC1A0;*/
/* переворот страниц блокнота */

.secstr { background-color:#F60; width:542px; min-height:730px; position:absolute; margin:10px auto 0; z-index:10; top:0; left:0%; display:none; opacity:0;}
.secstr.current{display:block; opacity:1;}
.transfU, .transfD {  transform-origin: 0 0;}
.spin2 {     animation: transfU 1.5s linear  ;}
@keyframes transfU {
  0% {
    transform: rotateX(0deg);
  }
  50% {transform: rotateX(-90deg) perspective(700px) translateZ(-10px); opacity:1; }
  90% {opacity:0;}
  100% {
    transform: rotateX(-120deg) ; 
  }
}

.spin3 {     animation: transfD 1.5s linear  ;}
@keyframes transfD {
  0% {
    transform: rotateX(-120deg) translateZ(-10px);
  }
  50% {transform: rotateX(-90deg) perspective(700px) translateZ(-20px); ; }
  100% {
    transform: rotateX(-1deg)  ; 
  }
} 